<!-- HTML content for editing user details -->
<div class="edit-form">
        <form [formGroup] ="editForm" (ngSubmit)="editUser(editForm.value)" #formDir="ngForm" novalidate>
        <h2 mat-dialog-title>Update User</h2>
        <hr>
        <mat-dialog-content>
              <div class="example-container">   
                <mat-form-field>
                    <!-- <input matInput placeholder="test" disabled> -->
                    <input #input matInput placeholder="User Eid" formControlName="EID" readonly>
                    <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
                    <mat-error align="end" *ngIf="!editForm.controls['EID'].valid && editForm.controls['EID'].touched">
                        <mat-error *ngIf="editForm.controls['EID'].errors.required">{{errors.EID.REQUIRED}}</mat-error>
                        <mat-error *ngIf="editForm.controls['EID'].errors.minlength">{{errors.EID.MIN}}</mat-error>
                        <mat-error *ngIf="editForm.controls['EID'].errors.maxlength">{{errors.EID.MAX}}</mat-error>
                        <mat-error *ngIf="editForm.controls['EID'].errors.pattern">{{errors.EID.PATTERN}}</mat-error>
                        <!-- <mat-error *ngIf="editForm.controls['EID'].errors.sampleBind">{{errors.EID.EXIST}}</mat-error>     -->
                    </mat-error>
                </mat-form-field>
      
                <mat-form-field>
                      <input #input2 matInput placeholder="User Airid"  formControlName="AIRID">
                      <mat-hint align="end">{{input2.value?.length || 0}}/25</mat-hint>
                    <mat-error align="end" *ngIf="!editForm.controls['AIRID'].valid && editForm.controls['AIRID'].touched">
                        <mat-error *ngIf="editForm.controls['AIRID'].errors.required">{{errors.AIRID.REQUIRED}}</mat-error>
                        <mat-error *ngIf="editForm.controls['AIRID'].errors.minlength">{{errors.AIRID.MIN}}</mat-error>
                        <!-- <mat-error *ngIf="editForm.controls['AIRID'].errors.maxlength">{{errors.AIRID.MAX}}</mat-error> -->
                        <mat-error *ngIf="editForm.controls['AIRID'].errors.pattern">{{errors.AIRID.PATTERN}}</mat-error>   
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input #input2 matInput placeholder="User ID"  formControlName="ID">
                    <mat-hint align="end">{{input2.value?.length || 0}}/25</mat-hint>
                  <mat-error align="end" *ngIf="!editForm.controls['ID'].valid && editForm.controls['ID'].touched">
                      <mat-error *ngIf="editForm.controls['ID'].errors.required">{{errors.ID.REQUIRED}}</mat-error>
                      <mat-error *ngIf="editForm.controls['ID'].errors.minlength">{{errors.ID.MIN}}</mat-error>
                      <!-- <mat-error *ngIf="editForm.controls['AIRID'].errors.maxlength">{{errors.AIRID.MAX}}</mat-error> -->
                      <mat-error *ngIf="editForm.controls['ID'].errors.pattern">{{errors.ID.PATTERN}}</mat-error>   
                  </mat-error>
              </mat-form-field>

      
                <mat-form-field>
                    <mat-select placeholder="User Access" formControlName="ACCESS">
                      <mat-option value="Super Administrator">Super Administrator</mat-option>
                      <mat-option value="Project Administrator">Project Administrator</mat-option>
                      <!-- <mat-option value="Client Application">Client Application</mat-option> -->
                    </mat-select>
                    <mat-error align="end" *ngIf="!editForm.controls['ACCESS'].valid && editForm.controls['ACCESS'].touched">
                        <mat-error *ngIf="editForm.controls['ACCESS'].errors.required">{{errors.ACCESS.REQUIRED}}</mat-error>   
                    </mat-error>
                </mat-form-field>
                
                
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Access Expiration Date"  formControlName="EXPIRY_DATE" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                    <mat-error align="end" *ngIf="!editForm.controls['EXPIRY_DATE'].valid && editForm.controls['EXPIRY_DATE'].touched">
                        <mat-error *ngIf="editForm.controls['EXPIRY_DATE'].errors.required">{{errors.EXPIRY_DATE.REQUIRED}}</mat-error>
                        <!-- <mat-error *ngIf="editForm.controls['EXPIRY_DATE'].errors.minlength">{{errors.EXPIRY_DATE.MIN}}</mat-error>
                        <mat-error *ngIf="editForm.controls['EXPIRY_DATE'].errors.maxlength">{{errors.EXPIRY_DATE.MAX}}</mat-error>
                        <mat-error *ngIf="editForm.controls['EXPIRY_DATE'].errors.pattern">{{errors.EXPIRY_DATE.PATTERN}}</mat-error>    -->
                    </mat-error>
                </mat-form-field>
                
                  <mat-form-field>
                      <mat-select placeholder="Access Status" formControlName="STATUS">
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Inactive">InActive</mat-option>
                      </mat-select>
                      <mat-error align="end" *ngIf="!editForm.controls['STATUS'].valid && editForm.controls['STATUS'].touched">
                        <mat-error *ngIf="editForm.controls['STATUS'].errors.required">{{errors.STATUS.REQUIRED}}</mat-error>   
                    </mat-error>
                  </mat-form-field>
              </div>
        </mat-dialog-content>
        <hr>
        <mat-dialog-actions>
                <button mat-raised-button color="primary" [disabled]="editForm.invalid  && formDir.submitted">Update</button>
                <a (click)="onClosedConfirm()">Cancel</a>
                <!-- <button mat-raised-button (click)="onClosedConfirm()">Cancel</button> -->
            <!-- <button type="button" class="btn btn-primary" (click)="saveNewUserDetails()" [disabled]="!addform.valid" >Submit </button>
            <button type="button" class="btn btn-warning" (click)="onClosedCancel()">Cancel</button> -->
        </mat-dialog-actions>
      </form>
</div>