/* Structure */
.custom-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    max-height: 70vh;
    min-width: 300px;
    position: relative;
  }
  
  .custom-header {
    min-height: 64px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .custom-table {
    overflow: auto;
    /* min-height: 300px; */
  }
  
  .custom-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }

.table-tools {
    display: flex;
    min-height: 50px;
}

.fa {
    font-size: 20px;
}
.add-user {
    margin-top:10px;
    position: absolute;
    right: 60px;
    /* display:flex; */
    /* margin-left: 616px; */
    /* margin-left: 616px; */
}

.table-actions{
    margin-top:10px;
    padding-left:30px;
    /* display:flex; */
}
.table-actions .button-text{
    font-size:12px;
    font-family: 'Open Sans Light';
}
.table-filter{
    margin-left:20px !important;
    width:480px !important;
    margin-right:20px !important;
}
.table-filter .mat-input-element{
  font-size:12px;
  font-family: 'Open Sans Light';
}
.table-filter .filter-icon{
    float:left;
}
.table-filter .profile-search-icon{
    /* padding-top:18px; */
}

.table-actions .profile-download-icon{
    padding-top:2px;
    padding-right:5px;
}
.mat-column-PAGE_URL{
    flex: 0 0 40%;
}
.mat-column-COUNTRY{
    /* flex: 0 0 10%; */
}
.mat-column-CLEAN_PAGEURL {
    flex: 0 0 15%;
}
.mat-column-AVG_GENERATION_TIME{
    flex: 0 0 25%;
}

.mat-column-HITS{
    flex: 0 0 5%;
    min-width: 50px!important;
}

.mat-column-button{
    flex: 0 0 5%;
    min-width: 100px!important;
}

.mat-column-VIEW_GEOGRAPHY {
    flex: 0 0 5%;
    min-width: 100px!important;
}

.mat-column-delete{
    flex: 0 0 5%;
    min-width: 50px!important;
}

.mat-column-edit{
    flex: 0 0 5%;
    min-width: 50px!important;
}

.mat-cell, .mat-header-cell {
    padding: 0 10px;
    min-width: 150px;
}

.no-results {
    text-align: center;
    padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.tooltip {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 25px;
}
