<div class="cards-container" fxLayout="column" fxLayoutGap="15px" >
<div class="errorbg" align="center">
  <h1> Error Encountered </h1>
  <p> Details:
    <b>  {{setErrorMsg()}} </b>
  </p>
  <p> Contact   
    <a  href="mailto: CIO.IS.EMO.OPS.Metrics.Operations@accenture.com?Subject=Inframetrics%20Help" 
        target="_top">CIO.IS.EMO.OPS.Metrics.Operations@accenture.com
    </a>
        to resolve the issue.
  </p>
  <!-- <p>  <a [routerLink]="['/']" > Reload </a> </p> -->
  <p> 
     <button mat-raised-button color="primary" routerLink="/">Reload Inframetrics</button> 
  </p>
</div>
</div>