<div class="main-container" fxLayoutGap="10px" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="2%">
      <div class="card" fxFlex="50%" align="center"> 
          <div class="metricVal" >
              {{totalVisits | number:'.0' }}
          </div>
          <div class="metricDesc">
              <span matTooltip="If a visitor comes to your website for the first time or if they visit a page more than 30 minutes after their last page view, this will be recorded as a new visit. "> {{totalVisitsTxt}} </span>
          </div>
      </div>
      <div class="card" fxFlex="50%" align="center"> 
          <div class="metricVal">
              {{hits | number:'.0'}}
          </div>
          <div class="metricDesc">
              <span matTooltip="The number of actions performed by your visitors. Actions can be page views, internal site searches, downloads or outlinks.">{{hitsTxt}}</span>
          </div>
      </div>
  </div>
  <div fxLayout="row" fxLayoutGap="2%">
      <div class="card" fxFlex="50%" align="center"> 
          <div class="metricVal" >
                  {{uniqueUsers | number:'.0'}}
          </div>
          <div class="metricDesc">
                <span matTooltip="The number of unduplicated visitors coming to your website. Every user is only counted once, even if they visit the website multiple times a day.">{{uniqueUsersTxt}}</span> 
          </div>
      </div>
      <div class="card" fxFlex="50%" align="center"> 
          <div class="metricVal" >
              {{avePageLoad}}
          </div>
          <div class="metricDesc">
              <span matTooltip="The average time it took to generate the page. This metric includes the time it took the server to generate the web page, plus the time it took for the visitor to download the response from the server. A lower 'Avg. generation time' means a faster website for your visitors!">{{avePageLoadTxt}}</span>
          </div>
      </div>
  </div>
</div> 