<div class="home-container" >
  <mat-list class="k-list-container">
      <mat-divider></mat-divider>
      <mat-list-item class="k-list-item" (click)="selectOption('metrics')"> 
        <div class="fa-overlapping">
            <fa name="square-o"></fa>
            <label class="metrics">%</label>
        </div>
        <div class="k-list-item-container">
          <h3>Metrics</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="k-list-item" (click)="selectOption('card')">
        <div class="fa-overlapping">
            <fa name="square-o"></fa>
            <label class="cards-header">Header</label>
            <label class="cards-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
        </div>
        <div class="k-list-item-container">
            <h3>Cards</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="k-list-item" (click)="selectOption('markdown')">
          <div class="fa-overlapping">
              <fa name="square-o"></fa>
              <label class="metrics">[ ]</label>
          </div>
          <div class="k-list-item-container">
              <h3>Markdown</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="k-list-item" (click)="selectOption('chart')"> 
          <div class="fa-overlapping">
              <fa name="square-o"></fa>
          </div>
          <div class="k-list-item-container">
              <h3>Charts</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>
  </mat-list>
</div>