.announcement-form {
  min-width: 150px;
  width: 100%;
}

.announcement-full-width {
  width: 100%;
}

.cards-container{
  display: block !important;
}

mat-toolbar {
  
  display: block;
}

mat-toolbar a {
  float: right;
  font-size: 25px;
  padding-top: 8px;
  display: block;
  cursor: pointer;
}

mat-toolbar p {
  float: left;
  margin: 10px 0 0;

}

.content_dialog_container {
  padding: 24px;
}
