<div class="k-card-form-container k-metrics">
    <mat-list dense>
        <mat-list-item [style.height]="'auto'"> 
          <label matLine>Content</label>
          <mat-form-field matLine class="card-content-value">
              <textarea matInput placeholder="Type a value" [(ngModel)]="parameter.value" (ngModelChange)="refreshPreview($event)"></textarea>
          </mat-form-field>
          <label matLine>Style</label>
          <mat-form-field matLine class="card-content-style">
              <textarea matInput placeholder="Type a style" [(ngModel)]="parameter.styleModel" (ngModelChange)="refreshPreview($event)"></textarea>
          </mat-form-field>
        </mat-list-item> 
        <mat-divider></mat-divider>
        <app-card-division *ngFor="let child of parameter.children" [data]="child" (onFormChanged)="refreshPreview($event)"></app-card-division>
        <mat-list-item >
            {{cardContent}}
            {{cardStyle}} 
            {{parameter.children}}
        </mat-list-item>
        <mat-list-item>
            <fa name="plus" (click)="addDivision()"></fa>
        
        </mat-list-item>
    </mat-list>
    <button (click)="add()">Add</button>
</div>

